<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

         <table border="1">
         <thead>
        <th>ID</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Age</th>
        <th>City</th>
        </thead> <tbody>
        {{#each studenti}}      
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{lastname}}</td>
                <td>{{age}}</td>
                <td>{{city}}</td>
            </tr>
            {{/each}} 
        </tbody>
        </table>
    
</body>
</html>
{{!-- 
    <table border="1">
         <thead>
        <th>Name</th>
        <th>LastName</th>
        </thead> <tbody>
        {{#each studenti}}      
            <tr>
                <td>{{ime}}</td>
                <td>{{prezime}}</td>
            </tr>
        </tbody>
         {{/each}}      
        </table> --}}